{% extends "EEApplicationsAbstractBundle::layout.html.twig" %}
{% form_theme form with ['EEApplicationsAbstractBundle:Form:bootstrap-override.html.twig'] %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <h1>Template Emails</h1>
                <h2>{{ email }}</h2>
                <h3>Please fill the placeholders below</h3>
            </div>
        </div>

        {% if errors is not empty %}
            <div class="row-fluid">
                <div class="span12 alert alert-error">
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row-fluid">
            <div class="span12">
                <form
                    class="form-horizontal"
                    method="get"
                    action="{{
                        path(
                            'ee_applications_template_emails_client_fill_placeholders',
                            {
                                'email': email,
                                'id': id
                            }
                        )
                    }}"
                >
                    {% for placeholder in placeholders %}
                        <div class="form-group">
                            <label
                                for="placeholder-{{ placeholder.getId() }}"
                                class="col-sm-2 control-label"
                            >{{ placeholder.getLabel() }}</label>
                            <div class="col-sm-10">
                                <input
                                    type="text"
                                    class="form-control {% if placeholder.getError() is not empty %}error{% endif %}"
                                    id="placeholder-{{ placeholder.getId() }}"
                                    placeholder="{{ placeholder.getFormPlaceholder() }}"
                                    name="placeholders[{{ placeholder.getId() }}]"
                                />
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a
                                href="{{
                                    path(
                                        'ee_applications_template_emails_client_select_template',
                                        {'email': email}
                                    )
                                }}"
                                class="btn"
                            >Back</a>
                            <button type="submit" class="btn">Preview</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}