{% extends "EEApplicationsAbstractBundle::layout.html.twig" %}
{% form_theme form with ['EEApplicationsAbstractBundle:Form:bootstrap-override.html.twig'] %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <h1>Template Emails</h1>
                <h2>{{ email }}</h2>
                <h3>Preview</h3>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12 alert alert-info">
                <strong>Subject:</strong> {{ version.getDescription() }}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <iframe
                    src="{{
                        path(
                            'ee_applications_template_emails_client_preview_iframe',
                            {
                                'id': version.getId()
                            }
                        )
                    }}"
                    width="800"
                    height="600"
                    align="left"
                ></iframe>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <a
                    href="{{
                        path(
                            'ee_applications_template_emails_client_fill_placeholders',
                            {
                                'email': email,
                                'id': version.getId()
                            }
                        )
                    }}"
                    class="btn"
                >Back</a>
                <a
                    href="{{
                        path(
                            'ee_applications_template_emails_client_send',
                            {
                                'email': email,
                                'id': version.getId()
                            }
                        )
                    }}"
                    class="btn"
                >Send</a>
            </div>
        </div>
    </div>

{% endblock %}