<div class="image-container {{ align }}">
    {% if link != '' %}
        <a href="{{ link }}">
    {% endif %}

    <img
        src="{{ viewUrl }}"
        alt="{{ alt }}"
        title="{{ alt }}"
        class="image"
    />

    {% if link != '' %}
        </a>
    {% endif %}

    <div
        class="description {{ align }} {% if useDescription == false %}hidden{% endif %}"
    >{{ alt }}</div>
</div>
