<div class="block-{{ blockId }} full-card">
    <h1 class="full-card-title">{{ name }}</h1>

    {% if date is not null %}
        <div class="full-card-date">{{ date }}</div>
    {% endif %}

    {% if imagesHtml != "" %}
        <div class="full-card-images">{{ imagesHtml }}</div>
    {% endif %}

    <div class="full-card-text">{{ text }}</div>
</div>
