<div class="record-card-container">
    <div class="record-card">
        {% if cover is not null %}
            <div class="cover-container">
                {% if cover.hasZoom == true %}
                    <a
                        data-fancybox="record-cover-{{ cover.id }}"
                        data-type="image"
                        data-caption="{{ cover.alt }}"
                        href="{{ cover.viewUrl }}"
                    >
                        <img
                            src="{{ cover.thumbUrl }}"
                            alt="{{ name }}"
                            title="{{ name }}"
                        />
                    </a>
                {% else %}
                    <a href="{{ uri }}">
                        <img
                            src="{{ cover.thumbUrl }}"
                            alt="{{ name }}"
                            title="{{ name }}"
                        />
                    </a>
                {% endif %}
            </div>
        {% endif %}

        <div>
            <a href="{{ uri }}" class="title">{{ name }}</a>
        </div>

        {% if date is not null %}
            <div class="date">{{ date }}</div>
        {% endif %}

        {% if description != "" %}
            <div class="description">{{ description }}</div>
        {% endif %}

        <div class="clear"></div>
    </div>
</div>
