{% set cssClass = "last-level" %}
{% if level == 1 %}
    {% set cssClass = "first-level" %}
{% elseif cssClass == 2 %}
    {% set cssClass = "second-level" %}
{% endif %}

{% if isActive == true %}
    {% set cssClass = cssClass + "-active" %}
{% endif %}

<li>
    {% if url is null %}
        <a class="{{ cssClass }} empty">{{ name }}</a>
    {% else %}
        <a class="{{ cssClass }}" href="{{ url }}">{{ name }}</a>
    {% endif %}

    {{ children }}
</li>
