{% if link != '' %}
    <div>
        <img data-u="image" src="{{ viewUrl }}" alt="{{ alt }}" />
        <span data-u="thumb">{{ alt }}</span>
    </div>
{% else %}
    <a href="{{ link }}">
        <img data-u="image" src="{{ viewUrl }}" alt="{{ alt }}" />
        <span data-u="thumb">{{ alt }}</span>
    </a>
{% endif %}
