<a
    class="image-container zoom-image-container"
    data-fancybox="image-group-{{ groupId }}"
    data-type="image"
    data-caption="{{ alt }}"
    href="{{ viewUrl }}"
>
    <img src="{{ thumbUrl }}" alt="{{ alt }}" title="{{ alt }}"/>
</a>
