<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ icon }}"/>

    {% for fileName in css %}
        <link rel="stylesheet" type="text/css" href="{{ fileName }}" />
    {% endfor %}

    {% if less is not empty %}
        <link rel="stylesheet" type="text/css" href="{{ less }}" />
    {% endif %}

    {% for fileName in js %}
        <script src="{{ fileName }}"></script>
    {% endfor %}

    {% if initJs is not empty %}
        {{ initJs | raw }}
    {% endif %}
</head>
<body>
    <div id="ajax-wrapper"></div>

    {% if html is not empty %}
        <div id="templates">
            {{ html | raw }}
        </div>
    {% endif %}
</body>
</html>